// MAPアイコン
@mixin svg-icon-map($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 119" fill="%23#{$color}"><path d="M50,0C22.43,0,0,22.19,0,49.46c0,12.54,4.65,24.66,14.21,37.05,7.35,9.53,17.56,19.26,33.09,31.55.79.62,1.74.94,2.7.94s1.91-.31,2.7-.94c24.57-19.44,47.3-41.21,47.3-68.61S77.57,0,50,0ZM50,109.25C28.17,91.7,8.63,72.31,8.63,49.46S27.19,8.54,50,8.54s41.37,18.36,41.37,40.92c0,13.73-5.09,30.48-41.37,59.79Z"/><path d="M50,25.11c-13.58,0-24.62,10.92-24.62,24.35s11.04,24.35,24.62,24.35,24.62-10.92,24.62-24.35-11.04-24.35-24.62-24.35ZM50,65.27c-8.82,0-15.99-7.1-15.99-15.82s7.17-15.82,15.99-15.82,15.99,7.1,15.99,15.82-7.17,15.82-15.99,15.82Z"/></svg>');
    aspect-ratio: 100/119;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// メールアイコン
@mixin svg-icon-mail($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119 99" fill="%23#{$color}"><path d="M114.73,0H4.27C1.91,0,0,1.91,0,4.27v90.46c0,2.36,1.91,4.27,4.27,4.27h110.46c2.36,0,4.27-1.91,4.27-4.27V4.27c0-2.36-1.91-4.27-4.27-4.27ZM110.46,17.17l-50.96,37.1L8.54,17.17v-8.63h101.93v8.63ZM8.54,27.74l48.45,35.27c.75.54,1.63.82,2.51.82s1.76-.27,2.51-.82l48.45-35.27v62.72H8.54V27.74Z"/></svg>');
    aspect-ratio: 119/99;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// スライド矢印
@mixin svg-slide-arrow($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 67" fill="%23#{$color}"><path d="M34.24,67c-.45,0-.9-.17-1.24-.51L0,33.5,33,.51c.69-.69,1.8-.69,2.48,0s.69,1.8,0,2.48L4.97,33.5l30.52,30.5c.69.69.69,1.8,0,2.48-.34.34-.79.51-1.24.51Z"/></svg>');
    aspect-ratio: 36/67;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// ブログ記事矢印
@mixin svg-arrow-blog($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="%23#{$color}"><path d="M50,100h0C22.39,100,0,77.61,0,50h0C0,22.39,22.39,0,50,0h0c27.61,0,50,22.39,50,50h0c0,27.61-22.39,50-50,50ZM88.63,50c0-21.3-17.33-38.63-38.63-38.63S11.37,28.7,11.37,50s17.33,38.63,38.63,38.63,38.63-17.33,38.63-38.63Z"/><polygon points="69.28 49.5 43.7 23.92 37.54 30.07 56.97 49.5 37.54 68.93 43.7 75.08 69.28 49.5"/></svg>');
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// ブログ記事矢印
@mixin svg-arrow-blog2($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="%23#{$color}"><path d="M50,100h0C22.39,100,0,77.61,0,50h0C0,22.39,22.39,0,50,0h0c27.61,0,50,22.39,50,50h0c0,27.61-22.39,50-50,50ZM88.63,50c0-21.3-17.33-38.63-38.63-38.63S11.37,28.7,11.37,50s17.33,38.63,38.63,38.63,38.63-17.33,38.63-38.63Z"/><polygon points="73.54 50 34.54 27.48 34.54 72.52 73.54 50"/></svg>');
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// ダウンロードアイコン
@mixin svg-icon-download($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 89" fill="%23#{$color}"><path d="M46,67.21c2.21,2.22,5.8,2.22,8.01,0l26.88-27c1.76-1.77,1.76-4.65,0-6.42-.88-.89-2.04-1.33-3.19-1.33s-2.31.44-3.19,1.33l-19.67,19.76V4.84c0-2.67-2.16-4.84-4.82-4.84s-4.82,2.17-4.82,4.84v48.72l-19.67-19.76c-1.76-1.77-4.63-1.77-6.39,0-.88.89-1.32,2.05-1.32,3.21,0,1.16.44,2.32,1.32,3.21l26.88,27Z"/><path d="M96.67,60.51h-2.38c-1.84,0-3.33,1.5-3.33,3.34v16.08H9.04v-16.08c0-1.85-1.49-3.34-3.33-3.34h-2.38c-1.84,0-3.33,1.5-3.33,3.34v23.89c0,.7.56,1.27,1.26,1.27h97.48c.7,0,1.26-.57,1.26-1.27v-23.89c0-1.85-1.49-3.34-3.33-3.34Z"/></svg>');
    aspect-ratio: 100/89;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// リンクアイコン
@mixin svg-icon-Link($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="%23#{$color}"><path d="M99.5,22.1c-.5-2.58-1.38-5.11-2.63-7.49-1.25-2.38-2.88-4.62-4.87-6.61-2.65-2.65-5.74-4.66-9.04-6C78.03,0,72.65-.5,67.48.5c-2.58.5-5.11,1.37-7.49,2.62-2.38,1.25-4.62,2.88-6.61,4.87l-12.94,12.94c-2.61,2.61-2.61,6.85,0,9.45s6.84,2.61,9.45,0l12.94-12.95c1.37-1.37,2.93-2.38,4.61-3.06,2.51-1.02,5.28-1.28,7.92-.76,1.32.26,2.6.7,3.81,1.34,1.21.63,2.34,1.46,3.38,2.49,1.37,1.38,2.38,2.94,3.06,4.61,1.02,2.51,1.28,5.28.76,7.92-.26,1.32-.7,2.61-1.33,3.81-.64,1.21-1.46,2.35-2.49,3.38l-12.94,12.94c-2.61,2.61-2.61,6.85,0,9.45s6.84,2.61,9.45,0l12.94-12.94c2.66-2.65,4.66-5.74,6-9.04,2-4.94,2.5-10.32,1.5-15.48Z"/><path d="M50.11,69.61l-12.94,12.94c-1.38,1.37-2.94,2.38-4.61,3.06-2.51,1.02-5.28,1.28-7.92.77-1.32-.26-2.6-.71-3.81-1.34-1.21-.64-2.34-1.46-3.38-2.49-1.37-1.38-2.38-2.94-3.06-4.61-1.02-2.51-1.28-5.28-.77-7.92.26-1.32.7-2.6,1.34-3.81.64-1.21,1.46-2.34,2.49-3.38l12.94-12.94c2.61-2.61,2.61-6.84,0-9.45-2.61-2.61-6.84-2.61-9.45,0l-12.94,12.94c-2.66,2.66-4.66,5.74-6,9.04C0,67.36-.5,72.75.5,77.9c.5,2.58,1.37,5.11,2.63,7.49,1.25,2.38,2.88,4.62,4.87,6.61,2.66,2.65,5.74,4.67,9.04,5.99,4.94,2.01,10.32,2.5,15.48,1.5,2.58-.5,5.11-1.38,7.49-2.63,2.38-1.25,4.62-2.88,6.61-4.87l12.94-12.94c2.61-2.61,2.61-6.84,0-9.45-2.61-2.61-6.84-2.61-9.45,0Z"/><path d="M66.88,33.12c-2.61-2.61-6.84-2.61-9.45,0l-24.32,24.32c-2.61,2.61-2.61,6.84,0,9.45,2.61,2.61,6.85,2.61,9.45,0l24.32-24.32c2.61-2.61,2.61-6.84,0-9.45Z"/></svg>');
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// 電話アイコン
@mixin svg-icon-phone($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="%23#{$color}"><path d="M35.02,26.98l-8.01-3.74c-.57-.26-1.24-.1-1.62.4-.33.44-.68.87-1.03,1.3-1.34,1.61-3.67,2.01-5.46.93-1.45-.88-2.97-2.02-4.86-3.92-1.9-1.9-3.04-3.41-3.92-4.86-1.09-1.8-.69-4.12.93-5.46.42-.35.86-.7,1.3-1.03.5-.38.67-1.05.4-1.62L9.02.98c-.31-.65-.99-1.04-1.71-.97-1.29.14-2.6.69-3.91,1.57C-3.4,6.85.77,18.42,9.17,26.83c8.41,8.4,19.98,12.57,25.25,5.77.87-1.32,1.43-2.62,1.57-3.91.08-.72-.31-1.41-.97-1.71Z"/></svg>');
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

// 電話アイコン
@mixin svg-icon-check($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 78" fill="%23#{$color}"><polygon points="0 46.78 9.21 37.56 31.23 59.59 90.79 0 100 9.22 31.21 78 0 46.78"/></svg>');
    aspect-ratio: 100/78;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
