/* =================================
 * 	株式会社ツナーズピクニック TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
// stylelint-disable scss/double-slash-comment-whitespace-inside
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * VISION
 * ------------------------------ */
.containerVision {
    gap: 2em 0;
    padding-top: 10em;
    padding-bottom: 5em;
    @include sp {
        padding-top: 30vw;
        padding-bottom: 8vw;
        gap: 4vw 0;
    }
    h2 {
        color: #fff;
        top: 0.5em;
        @include sp {
            top: 4vw;
        }
    }
    p {
        position: relative;
        z-index: 2;
        font-weight: 900;
        font-size: FZ(34);
        text-align: center;
        line-height: 1.6em;
        @include sp {
            font-size: FZ(18);
        }
    }
    .sidebarH1 {
        @include Arvo;
        font-size: FZ(100);
        margin-top: 0.7em;
        display: flex;
        align-items: center;
        gap: 0 0.2em;
        transition: 4s ease-out;
        --areaColor: #0d2aa1;
        background: linear-gradient(
            -40deg,
            rgba($dark-blue, 1),
            rgba($dark-blue, 1) 45%,
            var(--areaColor) 45%,
            var(--areaColor) 50%,
            rgba($dark-blue, 1) 50%
        );
        background-clip: text;
        background-size: 300% 100%;
        -webkit-background-clip: text;
        color: transparent;
        background-position: right center;

        @include sp {
            font-size: FZ(50);
            flex-direction: column;
            margin-top: 2vw;
        }
        &.is-active {
            background-position: left center;
        }
    }
    h1 {
        font-size: FZ(28);
        font-weight: 500;
        @include sp {
            font-size: FZ(18);
        }
    }
}

/* =================================
 * MOVIE
 * ------------------------------ */
.containerMovie {
    padding-inline: 0;
    video {
        font-size: inherit;
        @include section-radius;
    }
    @include sp {
        order: -1;
        min-height: 60vw;
        margin-top: 8vw;
    }
}

/* =================================
 * ABOUT US
 * ------------------------------ */
.containerAboutUs {
    padding-top: 8em;
    padding-bottom: 5em;
    gap: 4em 0;
    @include sp {
        padding-top: 18vw;
        padding-bottom: 16vw;
        gap: 6vw 0;
    }
    h2 {
        color: #fff;
        top: -0.5em;
        @include sp {
            top: 6vw;
        }
    }
    h3 {
        font-size: FZ(32);
        font-weight: 700;
        position: relative;
        z-index: 1;
        @include sp {
            font-size: FZ(22);
            text-align: center;
            line-height: 1.6em;
        }
    }
    .catch {
        position: relative;
        font-size: FZ(18);
        font-weight: 500;
        z-index: 1;
        line-height: 2.3em;
        max-width: 38em;
        text-align: justify;
        @include sp {
            max-width: unset;
            font-size: FZ(16);
            line-height: 1.8em;
        }
    }
    ul {
        position: relative;
        font-size: inherit;
        display: grid;
        width: 100%;
        max-width: 124rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr auto;
        gap: 0 1em;
        @include sp {
            grid-template-columns: unset;
            grid-auto-flow: row;
            gap: 4vw 0;
        }
        li {
            position: relative;
            font-size: inherit;
            grid-row: span 2;
            display: grid;
            grid-template-rows: subgrid;
            gap: 22em 0;
            padding: 1em;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: $dark-blue;
            opacity: 0;
            translate: 0 20rem;
            transition: 1.4s cubic-bezier(0.34, 1.56, 0.64, 1);
            @include sp {
                gap: unset;
                height: 60vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: var(--bg-image);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.9;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background-image: linear-gradient(
                    to top,
                    rgba($dark-blue, 1),
                    rgba($dark-blue, 0)
                );
            }
            &.is-active {
                opacity: 1;
                translate: 0;
                @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: #{($i * 0.2)}s;
                    }
                }
            }
            h4 {
                position: absolute;
                z-index: 1;
                top: 0.7em;
                right: 0.5em;
                color: #fff;
                writing-mode: vertical-rl; // 縦書き
                text-orientation: upright; // 縦書き英数回転
                font-feature-settings: initial; // 左詰め解除
                font-weight: 700;
                font-size: FZ(26);
                height: max-content;
                @include sp {
                    font-size: FZ(20);
                }
                i {
                    display: inline-block;
                    transform: rotate(-90deg);
                    transform-origin: center;
                    padding-top: 0.2em;
                }
            }
            h5 {
                position: relative;
                color: #fff;
                font-size: FZ(24);
                font-weight: 500;
                letter-spacing: 0.1em;
            }
            p {
                color: #fff;
                z-index: 1;
                font-size: FZ(18);
                line-height: 1.6em;
                @include sp {
                    font-size: FZ(16);
                }
            }
        }
    }
}

/* =================================
 * PROFILE
 * ------------------------------ */
.containerProfile {
    padding-top: 18em;
    padding-bottom: 8em;
    background-color: $dark-blue;
    gap: 10em 0;
    @include section-radius;
    @include sp {
        gap: 10vw 0;
        padding-top: 46vw;
        padding-bottom: 16vw;
    }
    h2 {
        color: #fff;
        top: 0.5em;
    }
    .itemLogo {
        width: 100%;
        max-width: 60rem;
        @include sp {
            max-width: unset;
            width: 50vw;
        }
    }
    article {
        align-self: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 2em 0;
        @include sp {
            width: 100%;
        }
        .name {
            font-size: FZ(30);
            font-weight: 700;
            letter-spacing: 0.1em;
            @include sp {
                font-size: FZ(20);
                align-self: center;
            }
        }
        .boxInfo {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 2em 4em;
            @include sp {
                gap: 4vw 0;
                margin-top: 10vw;
            }
            dl {
                position: relative;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                gap: 0.3em 0;
                @include sp {
                    grid-column: span 2;
                }
                dt {
                    color: $base-brown;
                    font-weight: 500;
                    font-size: FZ(14);
                    letter-spacing: 0.13em;
                }
                dd {
                    font-size: inherit;
                    address,
                    a {
                        font-size: FZ(18);
                        letter-spacing: 0.1em;
                    }
                }
                &:first-of-type {
                    grid-column: span 2;
                }
            }
        }
        ul {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 1em 0;
            margin-top: 1em;
            li {
                position: relative;
                font-size: FZ(18);
                padding-left: 1.2em;
                @include sp {
                    font-size: FZ(18);
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    translate: 0 -50%;
                    width: 0.7em;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: $base-brown;
                }
            }
        }
    }
}

/* =================================
 *  CLIENT
 * ------------------------------ */
.containerClient {
    padding-top: 20em;
    padding-bottom: 8em;
    gap: 4em 0;
    background-color: $dark-blue;
    @include sp {
        padding-top: 46vw;
        padding-bottom: 16vw;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #fff;
        z-index: +2;
        @include section-radius;
    }
    h2 {
        top: 0.5em;
        z-index: 2;
        @include sp {
            top: 14vw;
        }
    }
    ul {
        position: relative;
        width: 100%;
        max-width: 100rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: inherit;
        gap: 0 4em;
        z-index: 2;
        @include sp {
            grid-template-columns: repeat(3, 1fr);
            gap: 0 2vw;
        }
        li {
            position: relative;
            font-size: inherit;
            grid-row: span 2;
            display: grid;
            grid-template-rows: subgrid;
            gap: 0.5em 0;
            @include sp {
                gap: unset;
            }
            a {
                position: absolute;
                inset: 0;
                z-index: 1;
            }
            .wrapImage {
                display: grid;
                place-content: center;
                min-height: 7rem;
                img {
                    margin-inline: auto;
                }
            }
            p {
                display: grid;
                place-content: center;
                color: #959595;
                font-size: FZ(14);
                text-align: center;
                @include sp {
                    font-size: 2.4vw;
                }
            }
            &:nth-of-type(n + 5) {
                margin-top: 7em;
                @include sp {
                    margin-top: unset;
                }
            }
            &:nth-of-type(n + 4) {
                @include sp {
                    margin-top: 14vw;
                }
            }
        }
    }
}
