/* ===========================================
 * 	ツナーズピクニック FOOTER
 * ----------------------------------------- */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
@use "variable" as *;
@use "svg" as *;
.containerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: $dark-blue;
    padding: 5em 2em 3em;
    gap: 1em 0;
    gap: 0 5em;
    @include section-radius;
    @include sp {
        padding: 8vw 0 4vw;
        justify-content: center;
    }
    .itemLogo {
        max-width: 10rem;
        @include sp {
            display: none;
        }
    }
    nav {
        position: relative;
        font-size: inherit;
        flex: 1;
        display: flex;
        justify-content: space-between;
        max-width: 70rem;
        margin-left: auto;
        @include sp {
            display: none;
        }
        .itemLink {
            font-size: FZ(14);
            font-weight: 500;
            letter-spacing: 0.1em;
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        font-size: FZ(14);
        font-weight: 500;
        letter-spacing: 0.1em;
    }
}
